.product-card {
    width: 105px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    img {
        width: 60px;
        max-width: 60px;
        border-radius: 8px;
        margin-bottom: 8px;
    }

    .flag {
        padding: 4px 10px;
        border-radius: 20px;
        margin-top: 10px;
        color: #fff;
    }

    .flag-foto {
        background-color: rgb(80, 7, 99);
    }

    .flag-video {
        background-color: rgb(83, 13, 13);
    }
}