.product-sold-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e3e3;
  padding-bottom: 10px;
  margin-top: 10px;

  .product-image {
    width: 100px;
    display: flex;
    flex-direction: column;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
    }
  }

  .messages {
    min-height: 150px;
  }

  table {
    border-collapse: separate;
    border-spacing: 25px 0;
  }

  th {
    color: #a19f9f;
  }
}
